.Header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 2vh;
}

.Header-actions {
  display: flex;
}

.Header-actionButton-export {
  display: none;
}

.Header-actionButton-import {
  display: none;
}