.Header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.Header-projectVersion {
  cursor: pointer;
  color: #80C0FF;
}

.Header-actions {
  display: flex;
  gap: 1em;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

.Header-actionButton {
  padding: 0.5em;
  font-weight: bold;
  background-color: orange;
  border: 1px solid orange;
  border-radius: 0.5em;
}

.Header-actionButton:active {
  border: 1px solid white;
}

.Header-actionButton-export {
  display: none;
}

.Header-actionButton-import {
  display: none;
}