.Portrait {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.25vw;
  width: 8vw;
}

.Portrait-image {
  height: 4.5vw;
}

.Portrait-checked {
  position: absolute;
  width: 8vw;
  height: 4.5vw;
}

.Portrait-name {
  font-size: 0.8vw;
}