.Portrait {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.25vw;
  width: 8vw;
}

.Portrait--searchMatch {
  filter: drop-shadow(0 0 0.5vw purple);
}

.Portrait--searchMiss {
  filter: grayscale(100%) opacity(10%);
}

.Portrait-image {
  height: 4.5vw;
}

.Portrait-checked {
  position: absolute;
  width: 8vw;
  height: 4.5vw;
}

.Portrait--searchMatch .Portrait-name {
  color: white;
}

.Portrait-name {
  font-size: 0.8vw;
}